																							/* mise en place du body */
body {
	margin:0 auto;
	background:#FEEDD2;
	display:flex;
	flex-direction: column;
	font-size: 18px;
	cursor: url("../image/pointer/Moogle normal select.cur"), auto;
}

a {
	cursor: url("../image/pointer/link select.cur"), pointer;
}

button {

	cursor: url("../image/pointer/link select.cur"), pointer;
}

button:disabled{
	cursor: url("../image/pointer/UNAVABIBLE.cur"), pointer;
}

																							/* Police d'écriture */
@font-face {
    font-family: 'Final-Fantasy';
    src: url('../image/polices/Final-Fantasy.ttf') format("truetype");
}

@font-face {
    font-family: 'planewalker';
    src: url('../image/polices/Planewalker.otf');
}

@font-face {
    font-family: 'glimmer';
    src: url('../image/polices/glimmer of light.otf');
}

																							/* police titre */
h1{
	font-family: "glimmer";
}

																							/* police quetes */
.quetes{
	font-family: "planewalker";
	line-height: 30px;
}

.container {
	width:60%;
}

																						/* mise en place de la baniere */
.baniere {
	min-width: 100%;
	height: 120px;
	display: flex;
}

																					/* image baniere des différents onglets */
.image1 {
	background: center / cover no-repeat url('../image/baniere_ff.jpg');
	width: 500px;
}

.image2 {
	background: center / cover no-repeat url('../image/baniere_arr.jpg');
	width: 500px;
}

.image3 {
	background: center / cover no-repeat url('../image/baniere_heavensward.jpg');
	width: 500px;
}

.image4 {
	background: center / cover no-repeat url('../image/baniere_stormblood.jpg');
	width: 500px;
}

.image5 {
	background: center / cover no-repeat url('../image/baniere_shadowbringers.jpg');
	width: 500px;
}

.image6 {
	background: center / cover no-repeat url('../image/baniere_endwalker2.jpg');
	width: 500px;
}

.image7 {
	background: center / cover no-repeat url('../image/baniere_dawntrail.jpg');
	width: 500px;
}

.menu p {
	padding: 0;
	margin: 1%;
}

																									/* menu accueil */
#menu1 {
	background-color: rgb(253, 253, 253);
}

#menu1 a {
	color: rgb(51, 48, 44);
}

#menu1 a:hover {
	color: rgb(166, 62, 79);
}

																									/* menu arme 50 */
#menu2 a {
	color: white;
}

#menu2 {
	background-color: rgb(2, 6, 17);
}

#menu2 a:hover {
	color: rgb(168, 211, 191);
}

																									/* menu arme 60 */
#menu3 a {
	color: rgb(167, 111, 88);
}

#menu3 {
	background-color: rgb(0, 25, 47);
}

#menu3 a:hover {
	color: rgb(193, 87, 74);
}

																									/* menu arme 70 */
#menu4 a {
	color: rgb(166, 155, 123);
}

#menu4 {
	background-color: rgb(57, 58, 63);
}

#menu4 a:hover {
	color: rgb(241, 227, 218);
}

																									/* menu arme 80 */
#menu5 a {
	color: rgb(131, 172, 228);
}

#menu5 {
	background-color: rgb(12, 10, 15);
}

#menu5 a:hover {
	color: rgb(148, 92, 241);
}

																									/* menu arme 90 */
#menu6 a {
	color: rgb(214, 189, 184);
}

#menu6 {
	background-color: rgb(23, 22, 40);
}

#menu6 a:hover {
	color: rgb(126, 244, 254);
}
																									/* menu arme 100 */
#menu7 a {
	color: rgb(124, 170, 220);
}

#menu7 {
	background-color: rgb(22, 24, 49);
}

#menu7 a:hover {
	color: rgb(249, 136, 202);
}

																									/* menu général */
.menu {
	width: 77%;
	font-family: "planewalker";
    font-size: 120%
}

.menu ul {
	display:flex;
	justify-content: space-around;
	list-style: none;
	padding:0;
}

.menu li {
	height:100px;
	width:100px;
	display:flex;
	justify-content: center;
	align-items: center;
}

.menu a {
	text-align: center;
	text-decoration:none;
}

.menu a:hover {
	text-decoration: underline;	
}

																								/* mise en place de la page d'acceuil */
.accueil {
	text-align: center;
    width: 100%;
    height: 50em;
}

p {
	padding: 1%;
}

																							/* personalisation de tableau d'acceuil */
.tableau {
	display: flex;
	justify-content: space-evenly;
	margin-top: 3%;
}

tr img {
	width: 3vw;
}

																				/* tableau des étape des armes reliques */

.etapes_relique {
	width: 100%;
}

.etapes_relique td {
	border: inset;
}

.etapes_relique td button {
	border: none;
	background: none;
	min-width: 100%;
	min-height: 100%;
	padding: 0;
	font-family: Georgia;
	font-size: 18px;
}

.etapes_relique a {
	text-decoration: underline;
    color: black;
    font-weight: bold;
}

/* relique 50 */

.etapes_relique_50 {
	color: rgb(168, 211, 191);
}

.etapes_relique_50:hover {
	color: white;
}

.etapes_relique_50:active {
	color: rgb(2, 6, 17);
}

.etapes_relique .ligne_titre_50 td:active {
	border: outset  rgb(168, 211, 191);
    background: rgb(168, 211, 191);
}

/* changement de couleur du parent du bouton quand il est désactiver */

:has(>.etapes_relique_50:disabled) {
	background: rgb(168, 211, 191);
}

.etapes_relique_50:disabled {
	color: rgb(2, 6, 17);	
}

.memo_relique_50 td {
	border: outset rgb(168, 211, 191);
    background: rgb(168, 211, 191);
    color: rgb(2, 6, 17);
}

.ligne_titre_50 td{
	border: inset rgb(168, 211, 191);
	background: rgb(2, 6, 17);
    color: rgb(168, 211, 191);
}

/* relique 60 */

.etapes_relique_60 {
	color: rgb(193, 87, 74);
}

.etapes_relique_60:hover {
	color: rgb(167, 111, 88);
}

.etapes_relique_60:active {
	color: rgb(0, 25, 47);
}

.etapes_relique .ligne_titre_60 td:active {
	border: outset rgb(193, 87, 74);
    background: rgb(193, 87, 74);
}

.memo_relique_60 td {
	border: outset rgb(193, 87, 74);
    background: rgb(193, 87, 74);
    color: rgb(0, 25, 47);
}

:has(>.etapes_relique_60:disabled) {
	background: rgb(193, 87, 74);
}

.etapes_relique_60:disabled {
	color: rgb(0, 25, 47);	
}

.ligne_titre_60 td{
	border: inset rgb(193, 87, 74);
	background-color: rgb(0, 25, 47);
    color: rgb(193, 87, 74);
}

/* relique 90 */

.etapes_relique_90 {
	color: rgb(126, 244, 254);
}

.etapes_relique_90:hover {
	color: rgb(214, 189, 184);
}

.etapes_relique_90:active {
	color: rgb(23, 22, 40);
}

.etapes_relique .ligne_titre_90 td:active {
	border: outset rgb(126, 244, 254);
    background: rgb(126, 244, 254);
}

.memo_relique_90 td {
	border: outset rgb(126, 244, 254);
    background: rgb(126, 244, 254);
    color: rgb(23, 22, 40);
}

:has(>.etapes_relique_90:disabled) {
	background: rgb(126, 244, 254);
}

.etapes_relique_90:disabled {
	color: rgb(23, 22, 40);	
}

.ligne_titre_90 td{
	border: inset rgb(126, 244, 254);
	background-color: rgb(23, 22, 40);
    color: rgb(126, 244, 254);
}

/* relique 70 */

.etapes_relique_70 {
	color: rgb(241, 227, 218);
}

.etapes_relique_70:hover {
	color: rgb(166, 155, 123);
}

.etapes_relique_70:active {
	color: rgb(57, 58, 63);
}

.etapes_relique .ligne_titre_70 td:active {
	border: outset rgb(241, 227, 218);
    background: rgb(241, 227, 218);
}

.memo_relique_70 td {
	border: outset rgb(241, 227, 218);
    background: rgb(241, 227, 218);
    color: rgb(57, 58, 63);
}

:has(>.etapes_relique_70:disabled) {
	background: rgb(241, 227, 218);
}

.etapes_relique_70:disabled {
	color: rgb(57, 58, 63);
}

.ligne_titre_70 td{
	border: inset rgb(241, 227, 218);
	background-color: rgb(57, 58, 63);
    color: rgb(241, 227, 218);
}

/* relique 100 */

.etapes_relique_100 {
	color: rgb(249, 136, 202);
}

.etapes_relique_100:hover {
	color: rgb(124, 170, 220);
}

.etapes_relique_100:active {
	color: rgb(22, 24, 49);
}

.etapes_relique .ligne_titre_100 td:active {
	border: outset rgb(249, 136, 202);
    background: rgb(249, 136, 202);
}

.memo_relique_100 td {
	border: outset rgb(249, 136, 202);
    background: rgb(249, 136, 202);
    color: rgb(22, 24, 49);
}

:has(>.etapes_relique_100:disabled) {
	background: rgb(249, 136, 202);
}

.etapes_relique_100:disabled {
	color: rgb(22, 24, 49);
}

.ligne_titre_100 td{
	border: inset rgb(249, 136, 202);
	background-color: rgb(22, 24, 49);
    color: rgb(249, 136, 202);
}

																					/* ligne sous le tableau des arme relique */
.line {
	border: dashed 1px;
	width: 80vw;
    display: inline-block;
}

																								/* liste quetes */
.quetes a {
	border: double;
	color: black;
    text-decoration: none;
}

.quetes_50 p a:hover {
	color: rgb(168, 211, 191);
	background-color: rgb(2, 6, 17);
}

.quetes_60 p a:hover {
	color: rgb(193, 87, 74);
	background-color: rgb(0, 25, 47);
}

.quetes_70 p a:hover {
	color: rgb(241, 227, 218);
	background-color: rgb(57, 58, 63);
}

.quetes_90 p a:hover {
	color: rgb(126, 244, 254);
	background-color: rgb(23, 22, 40);
}

.quetes_100 p a:hover {
	color: rgb(249, 136, 202);
	background-color: rgb(22, 24, 49);
}

																							/* localisation et objets */
.lieux {
	display: flex;
    justify-content: space-between;
}

.lieux p {
	border: double;
}

.lieux a {
	text-decoration: underline;
	color: black;
	font-weight: bold;
}

																								/* description des etapes */
.description {
	text-align: left;
}

.description a {
	text-decoration: underline;
	color: black;
}

																							/* tableau atma et autre lumières */
.Atma td {
    text-align: center;
    padding: 3px;
    border-radius: 50px;
}

.Atma td a {
	color: rgb(2, 6, 17);
}

.Atma {
	display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.Atma .vide {
	border: none;
	width: 5vw;
	background-color: #FEEDD2;
}

#carte {
	width: 50vw;
}

																									/* image des armes reliques */
.imgJob tr img {
	width: auto;
}

.imgRelic50 table {
	width: 100%;
}

.imgRelic50 button {
	border: outset;
	border-radius: 13px;
	background-color: moccasin;
}

.imgRelic50 button:active {
	border: inset;
}

.imgRelic img {
	width: 50vw;
}

.imgRelic {
	height: 500px;
	padding-bottom: 100px;
}

																										/* footer */
#baniere2 {
	display: flex;
	justify-content: space-around;
	width: 100vw;
    position: fixed;
    bottom: 0px;
    padding: 5px;
}

#baniere2 button {
	border: outset;
	border-radius: 13px;
	background-color: moccasin;
}

#baniere2 button:active {
	border: inset;
}

#baniere2 button:disabled {
	border: inset;
    background-color: darkgray;
}

.footer_50 {
    background-color: rgb(2, 6, 17);
}

.footer_60 {
	background-color: rgb(0, 25, 47);
}

.footer_70 {
	background-color: rgb(57, 58, 63);
}

.footer_80 {
	background-color: rgb(12, 10, 15);
}

.footer_90 {
	background-color: rgb(23, 22, 40);
}

.footer_100 {
	background-color: rgb(22, 24, 49);
}